---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Google
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SeparateDefinitionBlocks: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(protocol/protocol.hpp|ra2yrproto/.+)' # must be included before windows includes!
    Priority: 1
  - Regex: '^".+'
    Priority: 2
  - Regex: "^<(fmt|google|xbyak|argparse|asio|websocketpp|gtest)/.+"
    Priority: 3
  - Regex: "<c(stdio|stdint|string|stddef)>"
    Priority: 4
  - Regex: "<(errhandling|handle|libloader|memory|processthreads|ps|synch)api.h>"
    Priority: 5
  - Regex: "<(direct|malloc|minwindef|tlhelp32|winbase).h>"
    Priority: 5
  - Regex: "<.+>"
    Priority: 6
