[submodule "3rdparty/xbyak"]
	path = 3rdparty/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/websocketpp"]
	path = 3rdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio.git
