# Exclude everything
**
# Whitelist
!.clang-format
!.clang-tidy
!.cmake-format
!.gitignore
!/.github
!/.github/**
!/docker
!/docker/**
!/pyra2yr
!/pyra2yr/**
!/scripts
!/scripts/**
!/src
!/src/**
!/test_data
!/test_data/**
!/tests
!/tests/**
!/toolchains
!/toolchains/**
!3rdparty
!3rdparty/*
!CMakeLists.txt
!Doxyfile
!LICENSE.md
!Makefile
!README.md
!docker-compose*.yml
!integration.env
# Additional ignores
*__pycache__*
