set noparent

# Global filters
filter=-build/include_order,-build/include_subdir,-build/namespaces
filter=-build/c++11,-legal/copyright,-readability/todo,
filter=-runtime/int,-runtime/string,-runtime/printf
filter=-whitespace/indent_namespace,-whitespace/line_length

# File-specific filters
filter=-build/c++17:tests/test_protocol.cpp
filter=-readability/casting:src/win32/windows_debug.cpp
